<h2>Add Post</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="Title">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Body</mat-label>
            <textarea matInput formControlName="body" placeholder="Title"></textarea>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary" type="submit">Create Post</button>
    </div>
</form>