<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <textarea matInput formControlName="username" placeholder="Username"></textarea>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <textarea matInput formControlName="email" placeholder="Email"></textarea>
        </mat-form-field>
    </div>
    <div formGroupName="address">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="street" placeholder="Address"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div formGroupName="company">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Company Name</mat-label>
                <textarea matInput formControlName="name" placeholder="Company Name"></textarea>
            </mat-form-field>
        </div>
    </div>
    <button type="submit" mat-raised-button color="primary">Submit</button>
</form>